body{
    background-image: url();
    background-size: cover;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

}
.tela-login{
    background-color:rgb(160, 0, 253);
    padding: 50px;
    border-radius: 10%;
    display: block;
    margin-top: 140px;

}
.tela-cadastro{
    background-color:rgb(253, 0, 0);
    padding: 50px;
    border-radius: 10%;
    display: block;
    margin-top: 80px;

}